*{
	margin: 0;
	padding: 0;
}

$icon_width:1rem;
$icon_height:1rem;


:root{
	--font-normal: 2rem;
	--font-medium:1.5rem;
	--font-small:1rem;
	--font-weight-small:600;

}

body > *{
	width:100%;
	height:100%;
}
.city{
	// background-color: yellow;
	display: flex;
	gap:5px;
	align-items:center;
}

.current-wrapper{
	// background-color: yellow;
	width:100%;
	height:100%;
	padding-bottom: 0;
	margin-bottom: 0;
}

.current-wrapper p{
	// background-color: yellow;
	padding-bottom: 0;
	margin-bottom: 0;
}


.search{
	// background-color:lightseagreen;
	
	width:100%;
	height:100%;
	display: flex;
	justify-content:flex-end;
	gap:20px;
	border:none;
	margin: 0;
	padding:0;
}

.current{
	width:100%;
	height:100%;
	border:none;
	
	margin: 0;
	display: flex;
	justify-content:center;
	align-items:center;
}

.current p{
	margin:0;
}
.current_city{
	width:100%;
	height:100%;
}

.desc{
	width:100%;
	height:100%;
	
}

body{
	width: 100%;
	height: 100%;
}
h1{
	display: flex;
	align-item:center;
	justify-content: center;
	margin-top: 3rem;
}

/* Style the <hr> element */
hr {
    border: none; /* Remove default border */
    border-top: 1px solid #000; /* Add your desired styling */
}


.cards {
    place-items: end;
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 1rem;
    backdrop-filter: blur(20px);
}
.set_wrapper>section>div {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: contents;
}

.title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    text-transform: uppercase;
    font-size: 23px;
}

.set_wrapper>section {
    width: inherit;
    padding: 10px;
 }

.container{
	width: 100%;
	height: 100%;
	justify-content:center;
	align-item:center;
	// border:2px solid black;
	// border-radius: 2rem;
	padding:2rem;
	background-color: transparent;
}

.searchcity {
    background-color: transparent;
}

section{
	display: flex;
	justify-content:center;
	align-item:center;
	padding:1rem;
	margin-bottom:1rem;
}

.Area, .Temp{
	font-weight:var(--font-weight-small);;
	font-size:var(--font-medium);
}

h3,h5{
	opacity:75%;
}

p{
	display: flex;
	font-size: var(--font-small);
	justify-content: center;
	align-item:center;
	margin-bottom: reverts;
}

.set_wrapper {
    width: 100%;
    display: flex;
    gap: 15px;
}

.icon_large{
	width:50%;
	height:50%;
}

.Hourly_forecast{
	display: flex;
	flex-direction:column;
	justify-content:center;	
	background-color: rgba(255, 255, 255, 0.05);
    width: auto;
    border-radius: 1rem;
    backdrop-filter: blur(20px);
}

.searchcity{
	border:none;
	 border-bottom: .5px solid #000;
}

.searchcity:focus{
	outline:none;
}

.UVindex, .wind,.presipitation,.pressure,.Humidity,.feels_like,.visible,.sunrise_set{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.container>section {
    margin-bottom: 1rem;
}

.UVindex_Wrapper{
	width: 100%;
	display: flex;
	justify-content:space-around;
	align-item:center;
}

.icon{
	width:$icon_width;
	height: $icon_height;
	opacity: 65%;
}

.Description, .date,.uv,.sunriseH,.sunsetH,.high-low, .uvValue, .windValue,.presciValue,.presValue,.HumidityValue,.feels_likeValue,.visibleValue,.sunrise,.sunset{
	font-weight: bold;
	font-size: 12px;
}

.sunset_set{
	width: 100%;
	display: flex;
	justify-content:space-around;
	align-item:center;
}

.sunrise_set{
	display: flex;
	justify-content:space-around;
}

.Hourly_forecast_container div{
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	font-weight: var(--font-weight-small);
}

.Hourly_forecast_container{
	width: 100%;
	display: flex;
	justify-content:space-around;
	align-items:center;
	overflow: auto;

}

.Hourly_forecast_wrapper{
	width: 100%;
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	align-item:center;
}

.five_day_forecast_container{
	// background-color: yellow;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-item:center;
}

.set_wrapper p {
    margin: 0;
}

.five_day_forecast{
	display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.05);
    width: auto;
    border-radius: 1.2rem;
    backdrop-filter: blur(20px);
}

.day{
	background-color:#87CEFA;
	color: black;
}

.night{
	background-color:#546bab;
	color: white;
}

.eve{
	background-color:#fe9380;
	color: white;
}
#five_day_forecast_wrapper img{
	object-fit: contain;
}

#five_day_forecast_wrapper{
	width: 100%;
	height: 100%;
	// background-color: white;
	display: flex;
	flex-direction:row;
	gap:15%;
	align-item:center;
	font-weight: var(--font-weight-small);
} 

#five_day_forecast_wrapper>h5{
	margin: 0;
	padding:0;
	display: flex;
	justify-content:center;
	align-items:center;
}

.five_day_forecast_item{
	width: 64px;
    height: 64px;
    display: flex;
    flex: 0.3;
    align-content: center;
    justify-content: center;
}


span{
	display: flex;
	text-align:center;
	align-items:center;
	font-size: var(--font-small);
	// padding:0px;
	// margin:0px;
}

.five_day_forecast{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-item:center;
}
.head_five{
	display: flex;
	justify-content:center;
}

@media screen and(max-width: 766px) {
.set_wrapper{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

}
